body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.cardLink {
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(238, 238, 238);
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 10px 40px;
  width: 200px;
}

.card:hover{
  background-color: silver;
}

.webTitle{
  font-weight: 700;
}

.webDesc{
  font-size: 0.6em;
}

.webLink{
  font-size: 0.7em;
}

.formLink{
  margin-top: 40px;
  text-align: center;
}

.btn{
  border: 1px solid black;
  display: inline;
  padding: 5px 5px;
  margin-top: 10px;
}

.header{
  margin-top: 20px;
  text-align: center;
}

.removeBtn {
  color: red;
  float: right;
}

.textArea{
  resize: none;
}

.textAreaForm{
  margin-bottom: 20px;
}