body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.cardLink {
  border-radius: 5px;
  display: inline-block;
  background-color: rgb(238, 238, 238);
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 10px 40px;
  width: 200px;
}

.card:hover{
  background-color: silver;
}

.webTitle{
  font-weight: 700;
}

.webLink{
  font-size: 0.7em;
}

.formLink{
  border: 1px black solid;
  margin-top: 40px;
  text-align: center;
}
