body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.card {
  border-radius: 5px;
  display: inline-block;
  background-color: silver;
  margin: 10px 10px 10px 10px;
  padding: 10px 5px 10px 40px;
  width: 200px;
}
